hgroup:first-child {
  margin-top: 32px;
}
h2 {
  color: var(--main-heading);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}
p {
  color: var(--body);
  font-size: 12px;
  line-height: 150%;
}
