button {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  height: 34px;
  line-height: 16px;
  place-content: center;
  place-items: center;
  width: 115px;

  & img.icon {
    height: 16px;
    width: 16px;
  }
}
