:host {
  --article-background: #f5f5f5;
  --body: #4a4e74;
  --footer-background: #d5d4d8;
  --footer-body: #4a4e74;
  --header-heading: #2b283a;
  --main-heading: #2b283a;
  --subheading: #f47d27;
}
.dark-theme {
  --article-background: #1a1b21;
  --body: #dcdcdc;
  --footer-background: #161619;
  --footer-body: #f5f5f5;
  --header-heading: #ffffff;
  --main-heading: #f5f5f5;
  --subheading: #f3bf99;
}
article {
  background-color: var(--article-background);
  border-radius: 10px;
  margin: 32px auto;
  width: 317px;

  & header,
  & header hgroup.heading {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;

    & hgroup.heading {
      line-height: 100%;
    }
  }
  & header {
    gap: 10px;

    & img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }
    & .buttons-container {
      display: flex;
      gap: 16px;
      place-content: center;
      place-items: center;
    }
    & h1 {
      color: var(--header-heading);
      font-size: 25px;
      font-weight: 700;
      margin: 26px 0 5px 0;
    }
    & p {
      color: var(--subheading);
      font-size: 12px;
    }
  }
  & main {
    padding: 0 35px;
  }
  & footer {
    background-color: var(--footer-background);
    border-radius: 0 0 10px 10px;
    color: var(--footer-body);
    display: flex;
    font-size: 12px;
    height: 40px;
    place-content: center;
    place-items: center;
  }
}
