article {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 32px auto;
  width: 317px;

  & header {
    gap: 10px;

    & img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }

    & button.email {
      width: calc(100% - 70px);
      height: 34px;
      background-color: #fff;
      color: #374151;
      border: 1px solid #d1d5db;
      box-shadow: 0px 1px 2px 0px #0000000d;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    & h1 {
      color: #2b283a;
      font-size: 25px;
      font-weight: 700;
      margin: 26px 0 4px 0;
    }
    & p {
      color: #f47d27;
      font-size: 12px;
    }
  }
  & header,
  & header hgroup.heading {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;

    & hgroup.heading {
      line-height: 100%;
    }
  }
  & main {
    padding: 0 35px;

    & hgroup:first-child {
      margin-top: 32px;
    }
    & h2 {
      color: #2b283a;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    & p {
      color: #4a4e74;
      font-size: 12px;
      line-height: 150%;
    }
  }
  & footer {
    background-color: #d5d4d8;
    border-radius: 0 0 10px 10px;
    color: #4a4e74;
    display: flex;
    font-size: 12px;
    height: 40px;
    place-content: center;
    place-items: center;
  }
}
