<article>
    <header>
        <img src="../assets/avatar.jpg" alt="Avatar">
        <hgroup class="heading">
            <h1>Jessicah Rhebeccah</h1>
            <p>Desenvolvedora Front-End</p>
        </hgroup>
        <button class="email" (click)="emailMe()"><img src="../assets/Mail.svg" alt="Email symbol" class="icon">
            Email</button>
    </header>
    <main>
        <hgroup>
            <h2>
                Sobre
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consectetur. In, neque! Iure
                obcaecati
                unde, ad tenetur ea ullam id? Optio voluptate necessitatibus adipisci fugit mollitia nulla illo? Et,
                aperiam?</p>
        </hgroup>
        <hgroup>
            <h2>
                Interesses
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque aspernatur excepturi error numquam
                voluptatibus, alias minus! Ea modi aliquid ex omnis vero. Vel exercitationem nam perspiciatis quia
                aperiam
                molestiae quas.</p>
        </hgroup>
    </main>
    <footer>© Todos os direitos reservados</footer>
</article>