.container {
  width: 336px;
  height: 192px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #1c2f56;
  }

  &::before {
    top: 0;
    border-radius: 10px 10px 0 0;
  }

  &::after {
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
  }
}

.id {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 12px;

  & img.src {
    width: 64px;
    height: 64px;
    border-radius: 120px;
    background-color: aqua;
    margin: 0 auto;
  }

  & hgroup {
    font-family: 'Roboto', sans-serif;
    text-align: center;

    & h1 {
      font-size: 14px;
      margin-block-end: 0;
    }

    & p {
      font-size: 8px;
      font-weight: 500;
      margin-block: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 128px;
    height: 2px;
    background-color: #26c2c2;
    bottom: 0;
    left: 20px;
  }
}

.details {
  background-color: #1c2f56;
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: #26c2c2;
  }

  &::before {
    top: 0;
    border-radius: 10px 10px 0 0;
  }

  &::after {
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
  }

  & ul {
    list-style: none;
    padding: 0;

    & li {
      font-family: 'Roboto', sans-serif;
      font-size: 8px;
      color: #fff;
      font-weight: 400;
      padding-bottom: 6px;

      &:last-child {
        display: flex;
      }

      & .ph-thin {
        font-size: 10px;
        padding-right: 4px;
      }
    }
  }
}
